@import './functions';

@mixin dg-typography-core() {
  @each $style, $map in $dg-typography--styles {
    --dg-typography--#{$style}--font-family: #{font-family($map)};
    --dg-typography--#{$style}--font-size: #{font-size($map)};
    --dg-typography--#{$style}--line-height: #{line-height($map)};
    --dg-typography--#{$style}--font-weight: #{font-weight($map)};
    --dg-typography--#{$style}--text-transform: #{text-transform($map)};
    --dg-typography--#{$style}--letter-spacing: #{letter-spacing($map)};
  }
}

@mixin dg-typography($style) {
  font-family: var(--dg-typography--#{$style}--font-family);
  font-size: var(--dg-typography--#{$style}--font-size);
  line-height: var(--dg-typography--#{$style}--line-height);
  font-weight: var(--dg-typography--#{$style}--font-weight);
  text-transform: var(--dg-typography--#{$style}--text-transform);
  letter-spacing: var(--dg-typography--#{$style}--letter-spacing);
}
