@import './variables';

@mixin dg-typography-core($styles) {
  --dg-typography--font-family: #{map-get($dg-typography--config, 'font-family')};

  @each $style in $styles {
    $style-config: map-get($dg-typography--config, $style);

    --dg-typography--#{$style}--font-size: #{map-get($style-config, 'font-size')};
    --dg-typography--#{$style}--font-weight: #{map-get($style-config, 'font-weight')};
    --dg-typography--#{$style}--text-transform: #{map-get($style-config, 'text-transform')};
    --dg-typography--#{$style}--line-height: #{map-get($style-config, 'line-height')};
    --dg-typography--#{$style}--letter-spacing: #{map-get($style-config, 'letter-spacing')};
  }
}

@mixin dg-typography($style) {
  font-size: var(--dg-typography--#{$style}--font-size);
  font-weight: var(--dg-typography--#{$style}--font-weight);
  text-transform: var(--dg-typography--#{$style}--text-transform);
  line-height: var(--dg-typography--#{$style}--line-height);
  letter-spacing: var(--dg-typography--#{$style}--letter-spacing);
}
