@import './functions';

@mixin dg-theme-core {
  --dg-theme--primary: #{$dg-theme--primary};
  --dg-theme--primary-light: #{$dg-theme--primary-light};
  --dg-theme--primary-dark: #{$dg-theme--primary-dark};

  --dg-theme--secondary: #{$dg-theme--secondary};
  --dg-theme--secondary-light: #{$dg-theme--secondary-light};
  --dg-theme--secondary-dark: #{$dg-theme--secondary-dark};

  --dg-theme--background: #{$dg-theme--background};
  --dg-theme--surface: #{$dg-theme--surface};
  --dg-theme--error: #{$dg-theme--error};

  --dg-theme--on-primary: #{foreground-color($dg-theme--primary)};
  --dg-theme--on-primary-light: #{foreground-color($dg-theme--primary-light)};
  --dg-theme--on-primary-dark: #{foreground-color($dg-theme--primary-dark)};

  --dg-theme--on-secondary: #{foreground-color($dg-theme--secondary)};
  --dg-theme--on-secondary-light: #{foreground-color($dg-theme--secondary-light)};
  --dg-theme--on-secondary-dark: #{foreground-color($dg-theme--secondary-dark)};

  --dg-theme--on-background: #{foreground-color($dg-theme--background)};
  --dg-theme--on-surface: #{foreground-color($dg-theme--surface)};
  --dg-theme--on-error: #{foreground-color($dg-theme--error)};

  --dg-theme--primary-text: #{rgba(foreground-color($dg-theme--surface), map-get($dg-theme--emphasis-map, 'high'))};
  --dg-theme--secondary-text: #{rgba(foreground-color($dg-theme--surface), map-get($dg-theme--emphasis-map, 'medium'))};
  --dg-theme--disabled-text: #{rgba(foreground-color($dg-theme--surface), map-get($dg-theme--emphasis-map, 'disabled'))};

  --dg-theme--active-icon: #{rgba(foreground-color($dg-theme--surface), map-get($dg-theme--emphasis-map, 'high'))};
  --dg-theme--inactive-icon: #{rgba(foreground-color($dg-theme--surface), map-get($dg-theme--emphasis-map, 'medium'))};
  --dg-theme--disabled-icon: #{rgba(foreground-color($dg-theme--surface), map-get($dg-theme--emphasis-map, 'disabled'))};
}

@mixin dg-theme-background($color) {
  background-color: var(--dg-theme--#{$color});
}

@mixin dg-theme-foreground($color) {
  color: var(--dg-theme--#{$color});
}
