$dg-layout-grid--breakpoints: (
  'phone': (
    'query': '(max-width: 599px)',

    'columns': 4,
    'gutters': 16px,
    'margins': 16px
  ),

  'tablet': (
    'query': '(min-width: 600px) and (max-width: 959px)',

    'columns': 8,
    'gutters': 16px,
    'margins': 16px
  ),

  'desktop': (
    'query': '(min-width: 960px)',

    'columns': 12,
    'gutters': 24px,
    'margins': 24px
  )
) !default;

$dg-layout-grid--min-width: 320px !default;
$dg-layout-grid--max-width: 1280px !default;
