@import '~@angular/material/theming';

@mixin dg-elevation-core($levels) {
  $umbra-map: _get-umbra-map($mat-elevation-color, $mat-elevation-opacity);
  $penumbra-map: _get-penumbra-map($mat-elevation-color, $mat-elevation-opacity);
  $ambient-map: _get-ambient-map($mat-elevation-color, $mat-elevation-opacity);

  @each $level in $levels {
    --dg-elevation--z#{$level}--box-shadow: #{map-get($umbra-map, $level)},
                                            #{map-get($penumbra-map, $level)},
                                            #{map-get($ambient-map, $level)};
  }
}

@mixin dg-elevation($level) {
  box-shadow: var(--dg-elevation--z#{$level}--box-shadow);
}
